body{
    background-color: rgb(241, 241, 241);

}

.img{
    float: left;
    font-size: 100px;
    margin-right: 20px;
}

.tex{
    color: red;
    font-size: 20px;
    font-style: italic;
    
}

